package itsio
allow :={"name":namespace_name,"allow_policy":allow_policy} {
	namespace_name:= input.items[0].metadata.namespace
	some i
	input.items[i].kind == "PeerAuthentication"
	mtlsMode := input.items[i].spec.mtls.mode
	allow_policy = mtlsMode ==  "STRICT"
  }
